body {
  padding-top: 50px; }

div.navbar {
  background: #333333;
  opacity: 0.8;
  border: #1a1a1a; }
  div.navbar a {
    color: #33CCFF; }
  div.navbar .active {
    background: #3333ff;
    box-shadow: inset 0 0 10px blue; }
  div.navbar a:hover {
    color: white;
    background: #6666FF;
    cursor: pointer; }

#map-container {
  position: fixed;
  width: inherit; }

#map-canvas {
  height: calc(100vh - 50px); }

/* .col-sx-4{
    float: right;
} */
