body{
    padding-top: 50px;
}

$black-grey: #333333;
$medium-blue: #33CCFF;


div.navbar{
    background: $black-grey;
    opacity: 0.8;
    border: darken($black-grey, 10%);
    a{
        color: $medium-blue;
    }
    .active {
        background: darken(#6666FF, 10%);
        box-shadow: inset 0 0 10px darken(#6666FF, 20%);
    }
    a:hover{
        color: lighten($medium-blue, 50%);
        background: #6666FF;
        cursor: pointer;
    }
}

#map-container{
    position: fixed;
    width: inherit;
}

#map-canvas{
    height: calc(100vh - 50px);
}

/* .col-sx-4{
    float: right;
} */






















